@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
article, aside, address, details, dialog, figure, figcaption, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
nav ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}
caption, th {
    text-align: left;
    font-weight: normal;
}
html, body, fieldset, img, iframe, abbr {
    border: 0;
}
i, cite, em, var, address, dfn {
    font-style: normal;
}
[hidefocus], summary {
    outline: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}
sup, sub {
    font-size: 83%;
}
pre, code, kbd, samp {
    font-family: inherit;
}
q:before, q:after {
    content: none;
}
textarea {
    overflow: auto;
    resize: none;
}
label, summary {
    cursor: default;
}
a, button {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: bold;
}
del, ins, u, s, a, a:hover {
    text-decoration: none;
}
body {
    background: #fff;
}
a, a:hover {
    color: #333;
}
*, html, body {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    box-sizing: content-box;
    font-weight: lighter;
    font-family: 'Microsoft YaHei UI Light', 'Microsoft YaHei', "微软雅黑", "宋体", Arial, Verdana, Helvetica, Tahoma, Arial, SimSun, STXihei, "华文细黑", Heiti, "黑体", sans-serif;
    line-height: 1.14;
}
img {
    display: inline;
    border: none;
    -ms-interpolation-mode: bicubic;
}
ul li {
    list-style-type: none;
    border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea {
    border: none;
}
textarea {
    resize: none;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}
input, button, select, textarea, a {
    outline: none;
}
a {
    blr: expression(this.onFocus=this.close());
    blr: expression(this.onFocus=this.blur());
}
a:focus {
    -moz-outline-style: none;
    outline: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    height: 0;
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.clearfix {
    zoom: 1;
}
* html .clearfix {
    zoom: 1;
}
*:first-child + html .clearfix {
    zoom: 1;
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
}
.yahei {
    font-family: 'Microsoft YaHei';
}
.songti {
    font-family: '宋体';
}
body {
    background-color: #f2f2f2;
}
/*头部开始*/
.gdb-header {
    width: 100%;
    height: 74px;
    padding: 10px 0;
    font-weight: bold;
}
.header-fix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
}
.gdb-header .header-container {
    padding: 0 6.77%;
}
.gdb-header .header-container .gdb-logo {
    display: block;
    width: 219px;
    height: 74px;
}
.header-container .gdb-logo img {
    display: block;
    width: 100%;
    height: auto;
}
.gdb-header .header-container .gdb-navbar {
    height: 26px;
    margin-top: 14px;
}
.gdb-navbar .navcon .navbar-item {
    height: 60px;
    margin-left: 60px;
    font-size: 16px;
    float: left;
}
.navcon {
    line-height: 26px;
}
.navcon .navbar-item > a {
    color: #808080;
}
.navcon .navbar-item > a:hover {
    color: #b3b3b3;
}
.navcon .navbar-item > a.loginbtn {
    display: block;
    width: 76px;
    height: 24px;
    border: 1px solid #2fb9ff;
    border-radius: 2px;
    color: #2fb9ff;
    line-height: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}
.navcon .navbar-item > a.loginbtn:hover {
    background-color: #2fb9ff;
    color: #fff;
}
.navcon .subnavbar {
    position: relative;
}
.subnavbar .subnavbox {
    position: absolute;
    top: 44px;
    left: 50%;
    width: 130px;
    margin-left: -65px;
    padding: 0 7px;
    z-index: 99;
    background-color: rgb(77, 77, 77);
    box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.35);
    display: none;
}
.subnavbar .subnavbox .subnav-item {
    width: 130px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #676767;
}
.subnavbox .subnav-item:last-child {
    border-bottom: 0;
}
.subnavbox .subnav-item a {
    color: #ccc;
}
.subnavbox .subnav-item a:hover {
    color: #fff;
}
.header-white {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.header-black {
    background-color: #2F3237;
    opacity: 0.9;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
/*头部结束*/
/*底部开始*/
.gdb-footer {
    width: 100%;
    min-width: 1200px;
    padding: 8% 0;
    background-color: #232532;
}
.gdb-footer .footer-container {
    width: 73%;
    margin: 0 auto;
}
.footer-container .footernav {
    width: 49%;
    text-align: left;
}
.footer-container .footernav .footernav-item {
    width: 25%;
    font-size: 1.8rem;
    color: #b2b2b2;
    float: left;
}
.footer-container .footernav .footernav-item:last-child {
    /*width:7.2rem;*/
}
.footernav .footernav-item > a {
    color: #b2b2b2;
}
.footer-subnav {
    padding-top: 1.5rem;
}
.footer-subnav li {
    padding: 5px 0;
}
.footer-subnav li a {
    color: #fff;
}
.footer-wechat {
    margin-bottom: 3rem;
}
.footer-wechat h3 {
    padding: 0.5rem 0 0.5rem 3.5rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #e5e5e5;
    font-weight: normal;
    background: url(../images/icon/icon_wechat.png) no-repeat left center;
    background-size: 2rem auto;
}
.footer-wechat img {
    display: block;
    width: 100%;
    height: auto;
}
.footer-contact {
    font-size: 1.6rem;
    color: #e5e5e5;
    text-align: right;
}
.footer-contact address, .footer-contact p {
    margin-bottom: 1.5rem;
}
.footer-contact p a {
    color: #e5e5e5
}
.footer-contact p a:hover {
    color: #fff;
}
/*底部结束*/
/*登录框开始*/
#loginbox {
    display: none;
}
.loginbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    z-index: 99;
}
.loginbg .logincontain {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 373px;
    height: 281px;
    margin-left: -231.5px;
    margin-top: -221px;
    padding: 161px 45px 0 45px;
    background: url(../images/homepage/loginbg.png);
}
.logincontain .loginbox {
    position: relative;
    width: 373px;
    height: 281px;
}
#loginclose {
    display: block;
    position: absolute;
    top: -12px;
    right: -28px;
    width: 15px;
    height: 15px;
    background: url(../images/homepage/login_close.png) no-repeat center center;
}
.logincontain .loginbox h1 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: #1ea5ff;
    font-weight: normal;
}
.loginbox .loginform {
    font-size: 14px;
}
.loginbox .loginform label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}
.loginbox .loginform input {
    width: 358px;
    height: 32px;
    margin-bottom: 14px;
    padding-left: 13px;
    border: 1px solid #aab2bd;
    border-radius: 3px;
    color: #999;
    line-height: 32px;
}
.loginbox .loginform a {
    color: #da4453;
    line-height: 32px;
}
.loginbox .loginform #loginbtn {
    width: 95px;
    height: 34px;
    text-align: center;
    color: #fff;
    line-height: 34px;
    border: 0;
    padding-left: 0;
    background-color: #1ea5ff;
    float: right;
}
/*登录框结束*/
/*首页开始*/
.section {
    height: 100%;
    padding: auto 0px;
    text-align: center;
}
#section0 {
    background-color: black;
}
.ck-slide {
    position: relative;
}
.ck-slidebox {
    position: absolute;
    left: 50vw;
    margin-top: 95vh;
    z-index: 30;
    color: rgba(0, 0, 0, 0);
}
.ck-slidebox ul {
    height: 5px;
    padding: 0 4px;
    background: rgba(0, 0, 0, 0);
}
.ck-slidebox ul li {
    float: left;
    height: 5px;
    margin: 4px 10px;
}
.ck-slidebox ul li div {
    display: block;
    width: 63px;
    height: 5px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.6);
    text-indent: -9999px;
    cursor: pointer;
    z-index: 9999;
}
.ck-slidebox ul li.current div {
    background-color: rgba(255, 255, 255, 1);
}
.ck-slidebox ul li div:hover {
    background-color: rgba(255, 255, 255, 1);
}
.homepage_banner {
    -webkit-animation: scale_dg 4s linear 0ms normal forwards;
    -moz-animation: scale_dg 4s linear 0ms normal forwards;
    -o-animation: scale_dg 4s linear 0ms normal forwards;
    animation: scale_dg 4s linear 0ms normal forwards;
    height: 100vh;
    width: 100vw;
    float: left;
}
@-webkit-keyframes scale_dg {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes scale_dg {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@-moz-keyframes scale_dg {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.animate_focus {
    position: absolute;
    background-size: contain;
    animation-iteration-count: infinite;
    animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
@-moz-keyframes rotation {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}
#focus_icon_1 {
    background-image: url('../images/homepage/focus.png');
    width: 4.5vw;
    height: 4.5vw;
    margin-top: 67.6vh;
    margin-left: 21.5vw;
}
#focus_icon_2 {
    background-image: url('../images/homepage/focus.png');
    width: 4vw;
    height: 4vw;
    margin-top: 23.2vh;
    margin-left: 52.5vw;
}
#focus_icon_3 {
    background-image: url('../images/homepage/focus_1p.png');
    width: 3.5vw;
    height: 3.5vw;
    margin-top: 25vh;
    margin-left: 77.4vw;
}
#focus_icon_4 {
    background-image: url('../images/homepage/focus_2p.png');
    width: 5vw;
    height: 5vw;
    margin-top: 50.8vh;
    margin-left: 78.6vw;
}
#focus_board1 {
    position: absolute;
    background-size: cover;
    background-image: url('../images/homepage/focus_board1.png');
    width: 29.5vw;
    height: 23vw;
    margin-top: 26.8vh;
    margin-left: 24.7vw;
    text-align: left;
    color: #fd9f10;
}
#focus_board1 h2 {
    font-size: 2.8rem;
    margin-top: 2.9vw;
    margin-left: 7.9vw;
}
#focus_board1 p {
    font-size: 1.8rem;
    margin-top: 1.8vw;
    margin-left: 8vw;
}
#focus_board2 {
    position: absolute;
    background-size: cover;
    background-image: url('../images/homepage/focus_board2.png');
    width: 23.5vw;
    height: 14vw;
    margin-top: 30vh;
    margin-left: 56.2vw;
    text-align: left;
    color: #bd1921;
}
#focus_board2 h2 {
    font-size: 2.8rem;
    margin-top: 2.8vw;
    margin-left: 2.6vw;
}
#focus_board2 p {
    font-size: 1.8rem;
    margin-top: 1.8vw;
    margin-left: 2.8vw;
}
#focus_line1 {
    position: absolute;
    background-size: cover;
    background-image: url('../images/homepage/focus_line1.png');
    width: 6vw;
    height: 1.2vw;
    margin-top: 71vh;
    margin-left: 15.7vw;
}
#focus_line2 {
    position: absolute;
    background-size: cover;
    background-image: url('../images/homepage/focus_line2.png');
    width: 11.8vw;
    height: 4.3vw;
    margin-top: 49vh;
    margin-left: 37.7vw;
}
#focus_line3 {
    position: absolute;
    background-size: cover;
    background-image: url('../images/homepage/focus_line3.png');
    width: 6.5vw;
    height: 1.2vw;
    margin-top: 24vh;
    margin-left: 46.2vw;
}
#focus_line4 {
    position: absolute;
    background-size: cover;
    background-image: url('../images/homepage/focus_line4.png');
    width: 6vw;
    height: 1.2vw;
    margin-top: 26vh;
    margin-left: 71.8vw;
}
#focus_line5 {
    position: absolute;
    background-size: cover;
    background-image: url('../images/homepage/focus_line5.png');
    width: 9.1vw;
    height: 1.2vw;
    margin-top: 58vh;
    margin-left: 70.8vw;
}
#focus_line1, #focus_line2, #focus_line3 {
    font-size: 1.6rem;
    color: #fd9f10;
    text-align: left;
    line-height: 0.9;
}
#focus_line2 {
    padding-left: 4.5vw;
    padding-top: 3.5vw;
}
#focus_line4, #focus_line5 {
    font-size: 1.6rem;
    color: #bd1921;
    text-align: left;
    line-height: 0.9;
}
#focus_line5 {
    padding-top: 3vw;
}
.focus-more {
    position: absolute;
    bottom: 8%;
    left: 50%;
    width: 96px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin-left: -48px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #bd1921;
    border-radius: 8px;
    color: #bd1921;
    transition: all 0.2s ease;
    font-weight: normal;
}
.focus-more:hover {
    color: #fff;
    background-color: #bd1921;
}
.focus_worker_pos {
    position: absolute;
    background-size: cover;
}
.focus_worker_pos h2 {
    padding-left: 4vw;
    padding-top: 1.6vw;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: left;
}
.focus_worker_pos p {
    padding-left: 1.6vw;
    padding-top: 1.1vw;
    font-size: 1.6rem;
    text-align: left;
    line-height: 1.8;
}
#focus_worker_1 {
    background-image: url('../images/homepage/focus_worker_1.png');
    width: 19vw;
    height: 12.8vw;
    margin-top: 17vh;
    margin-left: 14.2vw;
    color: #5bcc0b;
}
#focus_worker_1p {
    margin-top: 54.3vh;
    margin-left: 29.8vw;
}
#focus_worker_1p li {
    width: 11vw;
    padding-bottom: 0.3vw;
    font-size: 2.8rem;
    line-height: 2.8;
    color: #4dff4c;
    text-align: left;
    background: url(../images/homepage/focus_worker_1pline.png) no-repeat left bottom;
    text-shadow: 0 0 15px #4dff4c, 0 0 40px #4dff4c, 0 0 70px #4dff4c, 0 0 100px #4dff4c;
}
#focus_worker_2 {
    background-image: url('../images/homepage/focus_worker_2.png');
    width: 19.5vw;
    height: 14.7vw;
    margin-top: 13.8vh;
    margin-left: 33.5vw;
    color: #f39b16;
}
#focus_worker_2 .alarm {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/homepage/focus_alarm1.png);
    background-size: cover;
    margin-top: -3vw;
    margin-left: 11vw;
    animation-iteration-count: infinite;
    animation: twinkle 0.5s linear infinite;
    -webkit-animation: twinkle 0.5s linear infinite;
    -moz-animation: twinkle 0.5s linear infinite;
}
#focus_worker_3 {
    background-image: url('../images/homepage/focus_worker_3.png');
    width: 19vw;
    height: 8.3vw;
    margin-top: 14.4vh;
    margin-left: 61.2vw;
    color: #f00;
}
#focus_worker_3 h2 {
    padding-left: 11vw;
}
#focus_worker_3 p {
    padding-left: 8.5vw;
}
#focus_worker_3 .alarm {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/homepage/focus_alarm2.png);
    background-size: cover;
    margin-top: -5.2vw;
    margin-left: 5.6vw;
    animation-iteration-count: infinite;
    animation: twinkle 0.5s linear infinite;
    -webkit-animation: twinkle 0.5s linear infinite;
    -moz-animation: twinkle 0.5s linear infinite;
}
@keyframes twinkle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes twinkle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes twinkle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.worker-more {
    position: absolute;
    bottom: 8%;
    left: 50%;
    width: 96px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin-left: -48px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #2fb9ff;
    border-radius: 8px;
    color: #2fb9ff;
    transition: all 0.2s ease;
    font-weight: normal;
}
.worker-more:hover {
    color: #fff;
    background-color: #2fb9ff;
}
.hexin img {
    width: 100%;
    height: 100%;
}
#section1 {
    color: white;
    background: url(../images/homepage/hexin_bg.png) center center no-repeat black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: left;
}
.hexin h2 {
    width: 100%;
    margin-top: 60vh;
    margin-bottom: 50px;
    font-size: 2.4rem;
    text-align: center;
    font-weight: normal;
}
.hexin .hexin-content {
    width: 486px;
    margin: 0 auto;
}
.hexin .hexin-content li {
    width: 25%;
    padding-top: 70px;
    float: left;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-size: 80% auto;
}
.hexin .hexin-content li.hexin-nwsm {
    background: url(../images/homepage/hexin_shap1.png) no-repeat top center;
}
.hexin .hexin-content li.hexin-mjgl {
    background: url(../images/homepage/hexin_shap2.png) no-repeat top center;
}
.hexin .hexin-content li.hexin-kqgl {
    background: url(../images/homepage/hexin_shap3.png) no-repeat top center;
}
.hexin .hexin-content li.hexin-nwgl {
    background: url(../images/homepage/hexin_shap4.png) no-repeat top center;
}
#hexin_btn {
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: 96px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin-left: -48px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #2fb9ff;
    border-radius: 8px;
    color: #2fb9ff;
    transition: all 0.2s ease;
    font-weight: normal;
    text-align: center;
}
#hexin_btn:hover {
    color: #fff;
    background-color: #1ea5ff;
}
#section2 {
    position: relative;
    color: white;
    background: url(../images/homepage/example_bg.png) center center no-repeat black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: left;
    z-index: 99;
}
.fp-tableCell {
    vertical-align: top;
}
.example h2 {
    width: 100%;
    margin-top: 134px;
    margin-bottom: 15px;
    font-size: 4.8rem;
    text-align: center;
    font-weight: normal;
    letter-spacing: 20px;
}
.example h2 span {
    color: #2fb9ff;
}
.example .example-list {
    width: 720px;
    margin: 0 auto;
}
.example .example-list a {
    display: block;
    width: 19%;
    margin: 0 3%;
    padding-top: 110px;
    float: left;
    text-align: center;
    font-size: 14px;
    line-height: 2.15;
    color: #fff;
}
.example .example-list a.example-list-item1 {
    background: url(../images/homepage/exp_shap1.png) no-repeat top center;
    background-size: 70% auto;
}
.example .example-list a.example-list-item2 {
    background: url(../images/homepage/exp_shap2.png) no-repeat top center;
    background-size: 70% auto;
}
.example .example-list a.example-list-item3 {
    background: url(../images/homepage/exp_shap3.png) no-repeat top center;
    background-size: 70% auto;
}
.example .example-list a.example-list-item4 {
    background: url(../images/homepage/exp_shap4.png) no-repeat top center;
    background-size: 70% auto;
}
.example-banner .swiper-container {
    width: 61vw;
    margin: 90px auto;
}
.example-banner .swiper-slide {
    text-align: left;
    font-size: 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: initial;
    justify-content: initial;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: initial;
    align-items: initial;
}
.example-banner .swiper-button-prev {
    left: 9%;
    right: auto;
}
.example-banner .swiper-button-next {
    right: 9%;
    left: auto;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 2.6vw;
    height: 5.2vw;
    margin-top: -2.6vw;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 2.6vw 5.2vw;
    -webkit-background-size: 2.6vw 5.2vw;
    background-size: 2.6vw 5.2vw;
    background-position: center;
    background-repeat: no-repeat;
}
.example-banner .swiper-button-prev {
    background-image: url(../images/homepage/arrow_left.png);
}
.example-banner .swiper-button-prev:hover {
    background-image: url(../images/homepage/arrow_left_hover.png);
}
.example-banner .swiper-button-next {
    background-image: url(../images/homepage/arrow_right.png);
}
.example-banner .swiper-button-next:hover {
    background-image: url(../images/homepage/arrow_right_hover.png);
}
.example-banner .expbanner-picone {
    position: relative;
    width: 48%;
    margin-left: 1px;
    box-sizing: border-box;
    border: 2px solid #fff;
    float: left;
    overflow: hidden;
}
.example-banner .expbanner-icon {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 18%;
    height: 25%;
    background: rgba(255, 228, 29, .7) url(../images/homepage/exp_banner_magnifier.png) no-repeat center center;
    background-size: 45% auto;
    cursor: pointer;
}
.example-banner .expbanner-icon:hover {
    background-color: rgba(255, 228, 29, 1);
}
.expbanner-picone img.expbanner-smallpic, .expbanner-pictwo img.expbanner-smallpic, .expbanner-picthree img.expbanner-smallpic {
    display: block;
    width: 100%;
    height: auto;
}
.expbanner-pictwo, .expbanner-picthree {
    position: relative;
    width: 24%;
    height: 24%;
    margin-left: 1.9%;
    box-sizing: border-box;
    border: 2px solid #fff;
    float: left;
    overflow: hidden;
}
.example-banner .expbanner-txt {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 36.5%;
}
.example-banner .expbanner-txt .expbanner-txt-logo {
    display: block;
    float: left;
    width: 25%;
    margin-left: 2%;
}
.expbanner-txt .expbanner-txt-logo img {
    width: 100%;
    height: auto;
}
.example-banner .expbanner-txt p {
    width: 69%;
    margin-top: 10%;
    line-height: 2.2rem;
    float: right;
}
/*首页结束*/
.gdb-feature-container, .gdb-applications-container, .gdb-download-container, .gdb-aboutus-container {
    width: 100%;
    min-width: 1200px;
}
/*功能开始*/
.feature-problem .feature-problem-showbox {
    position: relative;
}
.feature-problem .feature-problem-showbox img {
    display: block;
    width: 100%;
    height: auto;
}
.feature-showmore {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: #1ea5ff;
}
.feature-showmore .feature-showmore-icon {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    margin-top: 1.5rem;
    /*background: url(../images/icon/icon_arrow_down.png) no-repeat;*/
    cursor: pointer;
}
.feature-showmore-icon img {
    display: block;
    width: 100%;
    height: auto;
}
.feature-problem-hidebox {
    padding-top: 30px;
    padding-bottom: 120px;
}
.feature-problem-hidebox .feature-hide-icon {
    display: block;
    width: 32px;
    height: 18px;
    margin: 0 auto 68px auto;
    background: url(../images/icon/icon_arrow_up.png) no-repeat;
    cursor: pointer;
}
#gdb_feature_morebox {
    display: none;
}
/*智慧视频开始*/
.video-problem-txt {
    position: absolute;
    top: 45%;
    width: 100%;
    font-size: 2.4rem;
    line-height: 2;
    text-align: center;
    color: #e5e5e5;
}
.video-problem-icon, .video-solution-icon {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 54%;
    margin-left: -27%;
    font-size: 2.4rem;
    color: #ccc;
}
.video-problem-icon li, .video-solution-icon li {
    width: 33.33%;
    padding-top: 10%;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    float: left;
}
.video-problem-icon li.video-problem-iconone {
    background-image: url(../images/icon/icon_video_shape1.png);
    background-size: 16% auto;
}
.video-problem-icon li.video-problem-icontwo {
    background-image: url(../images/icon/icon_video_shape2.png);
    background-size: 16% auto;
}
.video-problem-icon li.video-problem-iconthree {
    background-image: url(../images/icon/icon_video_shape3.png);
    background-size: 14% auto;
}
.video-problem-content, .service-problem-content {
    width: 1096px;
    margin: 0 auto;
}
.video-problem-content .video-problem-item, .service-problem-content .service-problem-item {
    margin-left: 50px;
    float: left;
}
.video-problem-content .video-problem-item:first-child, .service-problem-content .service-problem-item:first-child {
    margin-left: 0;
}
.video-problem-item div, .service-problem-item div {
    width: 326px;
    height: 189px;
    margin-bottom: 25px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}
.video-problem-item div img, .service-problem-item div img {
    display: block;
    width: 326px;
    height: 189px;
}
.video-problem-item article, .service-problem-item article {
    width: 290px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    color: #4c4c4c;
}
.video-problem-item article h4, .service-problem-item article h4 {
    padding-left: 30px;
    background: url(../images/icon/icon_point.png) no-repeat left center;
}
.video-problem-item article p, .service-problem-item article p {
    text-indent: 2em;
}
.video-solution-top, .service-solution-top {
    position: relative;
}
.video-solution-top img, .service-solution-top img {
    display: block;
    width: 100%;
    height: auto;
}
.video-solution-top > img.video-solution-phone {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 16.5%;
    margin-left: -8.45%;
}
.video-solution-top h2, .service-solution-top h2 {
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
    font-size: 6rem;
    line-height: 2.2rem;
    font-weight: lighter;
    color: #e5e5e5;
}
.video-solution-icon {
    top: 30%;
}
.video-solution-icon li.video-solution-iconone {
    background-image: url(../images/icon/icon_video_solution1.png);
    background-size: 16% auto;
}
.video-solution-icon li.video-solution-icontwo {
    background-image: url(../images/icon/icon_video_solution2.png);
    background-size: 16% auto;
}
.video-solution-icon li.video-solution-iconthree {
    background-image: url(../images/icon/icon_video_solution3.png);
    background-size: 16% auto;
}
.video-solution-content {
    width: 875px;
    margin: 0 auto;
}
.video-solution-content ul .video-solution-item {
    padding: 118px 0;
    background: url(../images/icon/icon_line.png) repeat-x left bottom;
}
.video-solution-content ul .video-solution-item:last-child {
    background: none;
}
.video-solution-item .video-solution-item-imgbox {
    width: 326px;
    height: 189px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}
.video-solution-item .video-solution-item-txtbox {
    width: 490px;
    font-size: 16px;
    line-height: 30px;
    color: #4c4c4c;
}
.video-solution-item .video-solution-item-txtbox h4 {
    padding-left: 28px;
    font-weight: lighter;
    background: url(../images/icon/icon_point.png) no-repeat left center;
}
.video-solution-item .video-solution-item-txtbox p {
    text-indent: 2em;
}
/*智慧视频结束*/
/*智慧劳务开始*/
.service-problem-txt {
    position: absolute;
    top: 41%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3.6rem;
    color: #fefefe;
}
.service-problem-icon {
    position: absolute;
    top: 58%;
    left: 50%;
    width: 20.5%;
    min-width: 270px;
    margin-left: -10%;
    font-size: 1.8rem;
    color: #fff;
}
.service-problem-icon li {
    height: 3.2rem;
    padding-left: 4.5rem;
    margin-bottom: 10%;
    line-height: 3.2rem;
    background-position: center left;
    background-repeat: no-repeat;
}
.service-problem-icon li.service-problem-iconone {
    background-image: url(../images/icon/icon_service_shap1.png);
    background-size: 1.275rem auto;
}
.service-problem-icon li.service-problem-icontwo {
    background-image: url(../images/icon/icon_service_shap2.png);
    background-size: 1.65rem auto;
}
.service-problem-icon li.service-problem-iconthree {
    background-image: url(../images/icon/icon_service_shap3.png);
    background-size: 1.65rem auto;
}
.service-solution-top > img.service-solution-phone {
    position: absolute;
    bottom: -12.6%;
    right: 13.5%;
    width: 28%;
}
.service-solution-top h2 {
    top: 17.8%;
}
.service-solution-icon {
    position: absolute;
    top: 51.8%;
    left: 28%;
    width: 466px;
    font-size: 2.4rem;
    color: #ccc;
}
.service-solution-icon li {
    width: 100%;
    margin-bottom: 8%;
}
.service-solution-icon li span {
    display: block;
    height: 47px;
    padding-left: 12%;
    margin-left: 80px;
    line-height: 47px;
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
}
.service-solution-icon li span:first-child {
    margin-left: 0;
}
.service-solution-icon li span.service-solution-iconone {
    background-image: url(../images/icon/icon_service_solution1.png);
    background-size: 20% auto;
}
.service-solution-icon li span.service-solution-icontwo {
    background-image: url(../images/icon/icon_service_solution2.png);
    background-size: 20% auto;
}
.service-solution-icon li span.service-solution-iconthree {
    background-image: url(../images/icon/icon_service_solution3.png);
    background-size: 20% auto;
}
.service-solution-icon li span.service-solution-iconfour {
    background-image: url(../images/icon/icon_service_solution4.png);
    background-size: 20% auto;
}
.service-solution-content {
    position: relative;
    width: 73%;
    padding-top: 58%;
    margin: 0 auto;
}
.service-solution-content .service-solution-tpimgbox {
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: 32.5%;
    margin-left: -11.77%;
}
.service-solution-content .service-solution-tpimgbox > img {
    display: block;
    width: 100%;
    height: auto;
}
.service-solution-content .service-solution-txtcontent {
    position: absolute;
    width: 23.3%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.service-solution-txtcontent .service-solution-txtbox {
    position: relative;
    width: 100%;
}
.service-solution-txtbox .service-solution-imgbox {
    margin-bottom: 8%;
}
.service-solution-txtbox .service-solution-imgbox img {
    display: block;
    width: 100%;
    height: auto;
}
.service-solution-txtbox .service-solution-article {
    padding: 0 0.3rem;
    font-size: 1.6rem;
    line-height: 1.87;
    color: #4c4c4c;
}
.service-solution-txtbox .service-solution-article p {
    letter-spacing: 3px;
}
.service-solution-txtbox .service-solution-article span {
    padding-left: 2.8rem;
    background: url(../images/icon/icon_point.png) no-repeat left center;
    font-weight: bold;
}
.service-solution-txtbox .service-solution-txtline {
    display: block;
    position: absolute;
}
.service-solution-txtbox .service-solution-txtline img {
    display: block;
    width: 100%;
    height: auto;
}
.service-solution-txtone, .service-solution-txttwo {
    top: 21%;
}
.service-solution-txtone {
    left: 17%;
}
.service-solution-txttwo {
    right: 18.5%;
}
.service-solution-txtthree, .service-solution-txtfour {
    top: 52.2%;
}
.service-solution-txtthree {
    left: 11%;
}
.service-solution-txtfour {
    right: 2%;
}
.service-solution-txtone .service-solution-txtline {
    width: 44%;
    right: -43%;
    top: 75%;
}
.service-solution-txttwo .service-solution-txtline {
    width: 8%;
    left: 25%;
    top: 100%;
}
.service-solution-txtthree .service-solution-txtline {
    width: 54%;
    right: -51%;
    top: 110%;
}
.service-solution-txtfour .service-solution-txtline {
    width: 38.35%;
    left: -32%;
    top: 63%;
}
@media screen and (max-width: 1230px) {
    .service-solution-txtone, .service-solution-txttwo {
        top: 17%;
    }
    .service-solution-txtone {
        left: 17%;
    }
    .service-solution-txttwo {
        right: 18.5%;
    }
    .service-solution-txtthree, .service-solution-txtfour {
        top: 51.2%;
    }
    .service-solution-txtthree {
        left: 11%;
    }
    .service-solution-txtfour {
        right: 2%;
    }
    .service-solution-txtone .service-solution-txtline {
        width: 40%;
        right: -40%;
        top: 80%;
    }
    .service-solution-txttwo .service-solution-txtline {
        width: 7.5%;
        left: 25%;
        top: 101%;
    }
    .service-solution-txtthree .service-solution-txtline {
        width: 52%;
        right: -51%;
        top: 110%;
    }
    .service-solution-txtfour .service-solution-txtline {
        width: 36%;
        left: -32%;
        top: 55%;
    }
}
/*智慧劳务结束*/
/*扬尘监控开始*/
.monitor-problem .feature-showmore {
    color: #fff;
}
.monitor-problem-txt {
    position: absolute;
    top: 33%;
    width: 100%;
    font-size: 2.4rem;
    line-height: 2;
    color: #fff;
}
.monitor-problem-txt h1 {
    margin-bottom: 3.5%;
    font-size: 6.0rem;
    font-weight: normal;
    text-align: center;
}
.monitor-problem-txt p {
    width: 37%;
    margin: 0 auto;
    text-indent: 2em;
}
.monitor-problem-icon {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 44%;
    margin-left: -22%;
    font-size: 2.4rem;
    color: #fff;
}
.monitor-problem-icon li {
    padding-top: 8%;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    float: left;
}
.monitor-problem-icon li.monitor-problem-iconone {
    width: 33%;
    background-image: url(../images/icon/icon_monitor_shape1.png);
    background-size: 12% auto;
}
.monitor-problem-icon li.monitor-problem-icontwo {
    width: 35%;
    background-image: url(../images/icon/icon_monitor_shape2.png);
    background-size: 14% auto;
}
.monitor-problem-icon li.monitor-problem-iconthree {
    width: 32%;
    background-image: url(../images/icon/icon_monitor_shape3.png);
    background-size: 13% auto;
}
.monitor-problem-content {
    width: 1096px;
    margin: 0 auto;
}
.monitor-problem-content .monitor-problem-item {
    margin-left: 50px;
    float: left;
}
.monitor-problem-content .monitor-problem-item:first-child {
    margin-left: 0;
}
.monitor-problem-item div, .service-problem-item div {
    width: 326px;
    height: 189px;
    margin-bottom: 25px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}
.monitor-problem-item div img, .service-problem-item div img {
    display: block;
    width: 326px;
    height: 189px;
}
.monitor-problem-item article, .service-problem-item article {
    width: 290px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    color: #4c4c4c;
}
.monitor-problem-item article h4, .service-problem-item article h4 {
    padding-left: 30px;
    margin-bottom: 32px;
    background: url(../images/icon/icon_point.png) no-repeat left center;
}
.monitor-problem-item article p, .service-problem-item article p {
    text-indent: 2em;
}
.monitor-solution-top, .service-solution-top, .enerty-solution-top {
    position: relative;
}
.monitor-solution-top img, .service-solution-top img, .enerty-solution-top img {
    display: block;
    width: 100%;
    height: auto;
}
.monitor-solution-top > img.monitor-solution-phone {
    position: absolute;
    bottom: -12rem;
    left: 50%;
    width: 30.4%;
    margin-left: -15.2%;
}
.monitor-solution-top h2 {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 6rem;
    line-height: 2.2rem;
    font-weight: lighter;
    color: #010101;
}
.monitor-solution-top h2 span {
    color: #0071bc;
}
.monitor-solution-icon {
    position: absolute;
    top: 28%;
    left: 50%;
    width: 37%;
    margin-left: -18%;
    font-size: 2.4rem;
    color: #fff;
}
.monitor-solution-icon li {
    height: 5rem;
    line-height: 5rem;
    padding-left: 10rem;
    margin-bottom: 2.5rem;
    background-position: left center;
    background-repeat: no-repeat;
}
.monitor-solution-icon li.monitor-solution-iconone {
    background-image: url(../images/icon/icon_monitor_solution1.png);
    background-size: auto 100%;
}
.monitor-solution-icon li.monitor-solution-icontwo {
    background-image: url(../images/icon/icon_monitor_solution2.png);
    background-size: auto 100%;
}
.monitor-solution-icon li.monitor-solution-iconthree {
    background-image: url(../images/icon/icon_monitor_solution3.png);
    background-size: auto 100%;
}
.monitor-solution-icon li.monitor-solution-iconfour {
    background-image: url(../images/icon/icon_monitor_solution4.png);
    background-size: auto 100%;
}
.monitor-solution-content {
    width: 875px;
    margin: 0 auto;
    padding-top: 9.0rem;
}
.monitor-solution-content ul .monitor-solution-item {
    padding: 11.5rem 0;
    background: url(../images/icon/icon_line.png) repeat-x left bottom;
}
.monitor-solution-content ul .monitor-solution-item:last-child {
    background: none;
}
.monitor-solution-item .monitor-solution-item-imgbox {
    width: 326px;
    height: 189px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}
.monitor-solution-item .monitor-solution-item-txtbox {
    width: 490px;
    font-size: 16px;
    line-height: 30px;
    color: #4c4c4c;
}
.monitor-solution-item .monitor-solution-item-txtbox h4 {
    padding-left: 28px;
    margin-bottom: 40px;
    font-weight: lighter;
    background: url(../images/icon/icon_point.png) no-repeat left center;
}
.monitor-solution-item .monitor-solution-item-txtbox p {
    text-indent: 2em;
}
.monitor-solution-tpimg {
    width: 63%;
    min-width: 875px;
    margin: 0 auto 198px auto;
}
.monitor-solution-tpimg img {
    display: block;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 1500px) {
    .monitor-solution-icon {
        width: 43%;
        margin-left: -21%;
    }
    .monitor-solution-icon li {
        height: 4rem;
        line-height: 4rem;
    }
}
/*扬尘监控结束*/
/*能源管理开始*/
.energy-problem-txt {
    position: absolute;
    top: 16%;
    width: 100%;
    font-size: 2.4rem;
    line-height: 2;
    color: #fff;
}
.energy-problem-txt h1 {
    margin-bottom: 2.2%;
    font-size: 6.0rem;
    font-weight: normal;
    text-align: center;
}
.energy-problem-txt p {
    width: 52%;
    margin: 0 auto;
    text-indent: 2em;
}
.energy-showmore {
    left: 50%;
    width: 14rem;
    height: 7rem;
    margin-left: -7rem;
    padding-top: 2rem;
    background: url("../images/energy_showmor_bt.png") repeat;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
}
.energy-showmore .feature-showmore-icon {
    margin-top: 1rem;
}
.enerty-problem-hidebox {
    padding-top: 83px;
}
.enerty-introduce {
    width: 1220px;
    margin: 0 auto;
}
.enerty-introduce-img {
    margin-bottom: 30px;
}
.enerty-introduce-imgbox {
    width: 576px;
    height: 332px;
    border: 8px solid #fff;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}
.enerty-introduce-imgbox img {
    display: block;
    width: 576px;
    height: 332px;
}
.enerty-introduce-imgbox2 {
    width: 768px;
    height: 447px;
    margin: 0 auto;
    margin-top: 117px;
    border: 8px solid #e9e9e9;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}
.enerty-introduce-imgbox2 img {
    display: block;
    width: 768px;
    height: 447px;
}
.enerty-introduce-info {
    width: 768px;
    margin: 0 auto;
    color: #4c4c4c;
}
.enerty-introduce-info h2 {
    padding-left: 40px;
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 30px;
    background: url("../images/icon/icon_point.png") no-repeat left center;
    font-weight: normal;
}
.enerty-introduce-info p {
    font-size: 24px;
    line-height: 40px;
}
.enerty-solution-top h2 {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 6rem;
    line-height: 2.2rem;
    font-weight: lighter;
    color: #010101;
}
.enerty-solution-top h2 span {
    color: #0071bc;
}
.enerty-solution-info {
    position: absolute;
    top: 28%;
    left: 50%;
    width: 69%;
    min-width: 848px;
    height: 63%;
    min-height: 395px;
    margin-left: -35%;
    background: url("../images/enerty_solution_infobg.png") no-repeat;
    background-size: 100%;
}
.enerty-solution-infobox {
    position: relative;
    width: 100%;
    height: 100%;
}
.enerty-solution-vs {
    display: block;
    position: absolute;
    left: 42.5%;
    top: 26%;
    width: 15%;
}
.enerty-solution-vs img {
    display: block;
    width: 100%;
    height: auto;
}
.enerty-solution-infolf {
    position: relative;
    width: 27%;
    padding-top: 4%;
    padding-left: 8%;
    color: #000;
}
.enerty-solution-infolf h3 {
    margin-bottom: 15%;
    font-size: 36px;
    font-weight: normal;
}
.enerty-solution-infolf span {
    display: block;
    position: absolute;
    font-size: 18px;
}
.enerty-solution-infolf span {
    left: 8%;
}
.enerty-solution-infolf span.enerty-solution-txt1{
    top: 44.5%;
}
.enerty-solution-infolf span.enerty-solution-txt2{
    top: 72.5%;
}
.monitor-solution-content {
    width: 875px;
    margin: 0 auto;
    padding-top: 9.0rem;
}
.monitor-solution-content ul .monitor-solution-item {
    padding: 11.5rem 0;
    background: url(../images/icon/icon_line.png) repeat-x left bottom;
}
.monitor-solution-content ul .monitor-solution-item:last-child {
    background: none;
}
.monitor-solution-item .monitor-solution-item-imgbox {
    width: 326px;
    height: 189px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}
.monitor-solution-item .monitor-solution-item-txtbox {
    width: 490px;
    font-size: 16px;
    line-height: 30px;
    color: #4c4c4c;
}
.monitor-solution-item .monitor-solution-item-txtbox h4 {
    padding-left: 28px;
    margin-bottom: 40px;
    font-weight: lighter;
    background: url(../images/icon/icon_point.png) no-repeat left center;
}
.monitor-solution-item .monitor-solution-item-txtbox p {
    text-indent: 2em;
}
.monitor-solution-tpimg {
    width: 63%;
    min-width: 875px;
    margin: 0 auto 198px auto;
}
.monitor-solution-tpimg img {
    display: block;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 1500px) {
    .monitor-solution-icon {
        width: 43%;
        margin-left: -21%;
    }
    .monitor-solution-icon li {
        height: 4rem;
        line-height: 4rem;
    }
}
/*能源管理结束*/
.applications-title {
    position: relative;
}
.applications-title .applications-titlebg img {
    display: block;
    width: 100%;
    height: auto;
}
.applications-title h1 {
    position: absolute;
    top: 58.54%;
    width: 100%;
    text-align: center;
    letter-spacing: 0.4em;
    font-size: 6.0rem;
    color: #e5e5e5;
    font-weight: lighter;
}
.applications-content .applications-item {
    margin-bottom: 6px;
}
.applications-item .applications-item-imgbox {
    width: 46.5%;
}
.applications-item .applications-item-imgbox img {
    display: block;
    width: 100%;
    height: auto;
}
.applications-articlebox {
    width: 46.5%;
    padding-top: 4.7%;
}
.applications-articlebox h2 {
    width: 30%;
    padding-bottom: 3%;
    margin-bottom: 7.5%;
    font-size: 3.2rem;
    letter-spacing: 0.3em;
    font-weight: lighter;
    color: #e5e5e5;
    border-bottom: 1px solid #fff;
}
.applications-articlebox .applications-articletxt .applications-article-item {
    height: 1.71vw;
    margin-bottom: 5%;
    padding-left: 10%;
    line-height: 1.71vw;
    font-size: 1.8rem;
    letter-spacing: 0.2em;
    color: #fff;
    overflow: hidden;
}
#department .applications-articletxt {
    width: 80%;
}
#department .applications-article-item {
    margin-right: 12%;
    float: left;
}
.applications-department {
    background-color: #232a41;
}
.applications-department-shap1 {
    background: url(../images/icon/icon_applications_department_shap1.png) no-repeat left center;
    background-size: auto 95%;
}
.applications-department-shap2 {
    background: url(../images/icon/icon_applications_department_shap2.png) no-repeat left center;
    background-size: auto 100%;
}
.applications-department-shap3 {
    background: url(../images/icon/icon_applications_department_shap3.png) no-repeat left center;
    background-size: auto 70%;
}
.applications-department-shap4 {
    background: url(../images/icon/icon_applications_department_shap4.png) no-repeat left center;
    background-size: auto 70%;
}
.applications-department-shap5 {
    background: url(../images/icon/icon_applications_department_shap5.png) no-repeat left center;
    background-size: auto 95%;
}
#company .applications-articletxt {
    width: 80%;
}
#company .applications-article-item {
    margin-left: 12%;
    padding-left: 12%;
    float: right;
}
.applications-company {
    background-color: #3c2c34;
}
.applications-company .applications-articlebox div, .applications-competent .applications-articlebox div {
    width: 100%;
    overflow: hidden;
}
.applications-company .applications-articlebox h2, .applications-competent .applications-articlebox h2 {
    text-align: right;
}
.applications-company .applications-articlebox .applications-article-item {
    text-align: right;
    margin-bottom: 7%;
}
.applications-company-shap1, .applications-competent-shap1 {
    background: url(../images/icon/icon_applications_company_shap1.png) no-repeat left center;
    background-size: auto 100%;
}
.applications-company-shap2, .applications-competent-shap2 {
    background: url(../images/icon/icon_applications_company_shap2.png) no-repeat left center;
    background-size: auto 95%;
}
.applications-company-shap3 {
    background: url(../images/icon/icon_applications_company_shap3.png) no-repeat left center;
    background-size: auto 75%;
}
.applications-company-shap4 {
    background: url(../images/icon/icon_applications_company_shap4.png) no-repeat left center;
    background-size: auto 75%;
}
#company .applications-company-shap4 {
    padding-left: 9%;
}
.applications-owner {
    background-color: #242e22;
}
.applications-owner-shap1 {
    background: url(../images/icon/icon_applications_owner_shap1.png) no-repeat left center;
    background-size: auto 100%;
}
.applications-owner-shap2 {
    background: url(../images/icon/icon_applications_owner_shap2.png) no-repeat left center;
    background-size: auto 95%;
}
.applications-competent {
    background-color: #3c372c;
}
#competent .applications-article-item {
    width: 100%;
    padding-left: 38%;
    margin-bottom: 23%;
}
.gdb-download-container {
    position: relative;
}
.gdb-download-container .download-bg img {
    display: block;
    width: 100%;
    height: auto;
}
.gdb-download-container .download-phone {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 34%;
}
.gdb-download-container .download-phone img {
    display: block;
    width: 100%;
    height: auto;
}
.gdb-download-container .download-content {
    position: absolute;
    right: 15%;
    top: 15%;
    width: 40%;
    margin-bottom: 75px;
}
.download-content .download-top {
    padding-bottom: 27px;
    font-size: 1.92vw;
    text-align: right;
    color: #fefefe;
    border-bottom: 1px solid #fff;
}
.download-content .download-top i {
    color: #2fb9ff;
}
.download-app li {
    width: 25%;
    margin-top: 10%;
    float: left;
}
.download-app li img {
    display: block;
    width: 100%;
    height: auto;
}
.download-app li .download-app-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.25vw;
    color: #fff;
}
.download-app li .download-app-title img {
    width: 83%;
}
.download-app li .download-app-title span {
    display: block;
    position: absolute;
    bottom: 12%;
    width: 100%;
    letter-spacing: 0.2em;
}
.download-app li.download-app-item a {
    display: block;
    position: relative;
    width: 83%;
    float: right;
}
.download-app li.download-app-item a .download-app-weichatbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 20;
    display: none;
}
.download-app li.download-app-item a:hover .download-app-weichatbox {
    display: block;
}
.download-app li .download-manage-title {
    background: url(../images/icon/icon_download_manage.png) no-repeat center 25%;
    background-size: 38% auto;
}
.download-app li .download-personal-title {
    background: url(../images/icon/icon_download_personal.png) no-repeat center 25%;
    background-size: 38% auto;
}
.gdb-aboutus-container .aboutus-banner {
    position: relative;
    width: 100%;
}
.gdb-aboutus-container .aboutus-banner img {
    display: block;
    width: 100%;
    height: auto;
}
.gdb-aboutus-container .aboutus-banner h1 {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: #e5e5e5;
    font-weight: lighter;
    letter-spacing: 1.5rem;
}
.gdb-aboutus-container .aboutus-content {
    padding: 4.9% 1% 9% 1%;
    background: url(../images/aboutus_bg.png) no-repeat top;
    background-size: cover;
}
.aboutus-content .aboutus-txt {
    width: 48.5%;
    min-width: 620px;
    margin: 0 auto;
    color: #333;
}
.aboutus-content .aboutus-txt h1 {
    font-size: 3.6rem;
    line-height: 1.67;
    margin-bottom: 2.8rem;
}
.aboutus-content .aboutus-txt p {
    font-size: 1.8rem;
    line-height: 2.5;
    text-indent: 2em;
}
.aboutus-content .aboutus-txt .aboutus-imgboxone {
    display: block;
    margin-top: 15px;
    margin-bottom: 22px;
}
.aboutus-txt .aboutus-imgboxone img {
    display: block;
    width: 100%;
    height: auto;
}
.aboutus-content .aboutus-txt > div {
    position: relative;
}
.aboutus-content .aboutus-txt p.aboutus-msgl {
    width: 49%;
    margin-top: 20px;
}
.aboutus-content .aboutus-txt .aboutus-imgboxtwo {
    position: absolute;
    right: 0;
    top: -10px;
    display: block;
    width: 48%;
}
.aboutus-txt .aboutus-imgboxtwo img {
    display: block;
    width: 100%;
    height: auto;
}
.aboutus-content .aboutus-txt p.aboutus-msgb {
    font-size: 3.6rem;
    line-height: 1.67;
    font-weight: bold;
    text-indent: 0;
    margin-top: 25px;
}
